= stylesheet_link_tag    "application"
= javascript_include_tag "application"

-# fonts
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Stardos+Stencil' 

-# jQuery UI
= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'

-# OTHER JS LIBRARY
-# For sliding
-#= javascript_include_tag 'jquery.slideto.v1.1'

-# For zooming
-#= javascript_include_tag 'sylvester'
-#= javascript_include_tag 'purecssmatrix'
-#= javascript_include_tag 'jquery.animtrans'
-#= javascript_include_tag 'jquery.zoomooz.js'


= csrf_meta_tags